export(dsm.cor)
export(dsm.var.gam)
export(dsm.var.movblk)
export(dsm.var.prop)
export(dsm)
export(generate.ds.uncertainty)
export(generate.mb.sample)
export(latlong2km)
export(make.soapgrid)
export(rqgam.check)
export(trim.var)
S3method(plot,dsm.var)
S3method(plot,dsm)
S3method(predict,dsm)
S3method(print,dsm.var)
S3method(print,dsm)
S3method(print,summary.dsm.var)
S3method(summary,dsm.var)
S3method(summary,dsm)
