export(dsm.check)
export(dsm.fit)
export(dsm.predict)
export(dsm.var.gam)
export(dsm.var.movblk)
export(dsm.var.prop)
export(generate.ds.uncertainty)
export(generate.mb.sample)
export(latlong2km)
export(make_soap_grid)
export(trim.var)
S3method(plot,dsm.var)
S3method(print,dsm.var)
S3method(print,dsm)
S3method(print,summary.dsm.var)
S3method(print,summary.dsm)
S3method(summary,dsm.var)
S3method(summary,dsm)
